<div class="main">
    <h1 class ="about">About</h1>

    <p class ="about">ewe_tennisはテニス初心者でも必要な物がわかりやすく商品が紹介されておりそれらが購入できる会員制のショッピングサイトです。</p><br>
    <p class ="about">当サイトでは、テニスに関連する商品が一覧で確認できたり、同時にその場で購入も可能です。</p><br>
    <p class ="about">その他の機能として、テニスがしたいと思った時、スクールやレンタルテニスコートの場所を調べることができます。</p><br>
    <p class ="about">ぜひ心ゆくまでお使いください</p>
</div>