// Place all the styles related to the admins::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admins_customer_index_table{
    margin-left: 200px;
}

.admins_customer_show_table{
    margin-top: 30px;
    margin-left: 600px;
}

.admins_customer_link{
    margin-left: 600px;
}

.admins_customer_edit_table{
    margin-left: 500px;
}