// Place all the styles related to the admins::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre_form{
    margin-left: 700px;
    
}

.admins_genres_table{
    margin-left: 300px;
}

.admins_genre_letter{
    margin-left: 300px;
}

.admins_genre_file{
    margin-left: 300px;
}

.admins_genre_register{
    margin-left: 300px;
}