// Place all the styles related to the admins::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.admins_new{
    margin-right: 900px;
}

.admins_itme_index_table{
    margin-left: 300px;
}

.admins_item_edit_main{
    margin-left: 300px;
}

.admins_item_new_main{
    margin-left: 300px;
}

.admins_item_show_table{
    margin-left: 200px;
}

.admins_new{
    margin-left: 900px;
}

.admins_item{
    margin-left: 600px;
}