// Place all the styles related to the customers::addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.address{
    margin-left: 600px;
    margin-top: 20px;
}

.address_index{
    margin-left: 30px;
}