// Place all the styles related to the customers::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
    margin-left: 600px;
}

.register{
    margin-left: 590px ;
}

.my_page_address{
    margin-left: 550px;
    margin-top: 20px;
}

.my_page_shipping_address{
    margin-top: 20px;
    margin-left: 590px;
}

.my_page_order_history{
    margin-top: 10px;
    margin-left: 590px;
}

.withdrawal_link{
    padding: 10px;
}