// Place all the styles related to the customers::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_title{
    margin-top: 50px;
    margin-left: 500px
}

.customer_order_index_table{
    margin-top: 30px;
    margin-left: 300px;
}

.customer_pay{
    margin-left: 300px;
}

.customer_address{
    margin-left: 300px;
}

.confirmation{
    margin-left: 900px;
}

.method_of_payment{
    margin-left: 300px;
}

.deliver{
    margin-left: 300px;
}

.confirm{
    margin-left: 300px;
}