.registration{
    text-align: center;
}

.registration_table{
    margin-left: 450px;
    margin-top: 20px;
}

.registered{
    margin-top: 20px;
    text-align: center;
}

.registrations_link{
    text-align: center;
}