.unsubscribe{
    margin-left: 500px;
}

.unsubscribe_text{
    margin-top: 20px;
    margin-left: 500px;
}

.withdraw{
    margin-left: 400px;
}

.do_not_withdraw{
    margin-left: 500px;
}

.withdrawal{
    margin-left: 600px;
    border-spacing: 20px;
}